# Top 500 Trips

## Libraries/Imports

In [9]:
import pandas as pd
import os

In [8]:
# Import merged csv
top500_df = pd.read_csv("02_Data/Prepared_Data/top500_routes.csv")

In [10]:
top500_df.head()

,start_station_name,end_station_name,trip_count,start_lat,start_lng,end_lat,end_lng
0,Central Park S & 6 Ave,Central Park S & 6 Ave,12041,40.765909,-73.976342,40.765909,-73.976342
1,7 Ave & Central Park South,7 Ave & Central Park South,8541,40.766741,-73.979069,40.766741,-73.979069
2,Roosevelt Island Tramway,Roosevelt Island Tramway,8213,40.757284,-73.953600,40.757284,-73.953600
3,Grand Army Plaza & Central Park S,Grand Army Plaza & Central Park S,7287,40.764397,-73.973715,40.764397,-73.973715
4,Soissons Landing,Soissons Landing,7275,40.692317,-74.014866,40.692317,-74.014866

In [11]:
# Add bins for the arc stroke size for the kelpergl map
def stroke_bin(trip):
    if trip < 1800:
        return 0.2
    elif trip < 2200:
        return 1.0
    elif trip < 3000:
        return 2.0
    else:
        return 3.0

top500_df["stroke_width"] = top500_df["trip_count"].apply(stroke_bin)

In [12]:
top500_df.head()

,start_station_name,end_station_name,trip_count,start_lat,start_lng,end_lat,end_lng,stroke_width
0,Central Park S & 6 Ave,Central Park S & 6 Ave,12041,40.765909,-73.976342,40.765909,-73.976342,3.0
1,7 Ave & Central Park South,7 Ave & Central Park South,8541,40.766741,-73.979069,40.766741,-73.979069,3.0
2,Roosevelt Island Tramway,Roosevelt Island Tramway,8213,40.757284,-73.953600,40.757284,-73.953600,3.0
3,Grand Army Plaza & Central Park S,Grand Army Plaza & Central Park S,7287,40.764397,-73.973715,40.764397,-73.973715,3.0
4,Soissons Landing,Soissons Landing,7275,40.692317,-74.014866,40.692317,-74.014866,3.0

In [13]:
top500_df["stroke_width"].value_counts()

stroke_width
0.2    201
2.0    114
1.0    113
3.0     72
Name: count, dtype: int64

In [14]:
# Export
top500_df.to_csv("02_Data/Prepared_Data/top500_routes_v2.csv", index=False)